@use '../shared/colors' as c;
@use '../shared/breakpoints' as b;

#about {
    padding: 2vh 0;
    background-color: c.$secondary;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bio-text {
    width: 95%;

    h1 {
        color: c.$text;
        font-weight: 500;
        font-size: 1.6rem;
    }

    p, a {
        color: c.$text;
        font-size: 1.1rem;
        line-height: 2rem;
    }
}

.bio-pic {
    flex-shrink: 1;
    max-width: 60%;
    aspect-ratio: 1/1;
    display: none;
}

@media screen and (min-width: b.$tablet-screen) {
    #about {
        padding: 10vh 0;
        flex-direction: row;
        justify-content: center;
        gap: 8vw;
    }

    .bio-text {
        width: 80%;
    }
}

@media screen and (min-width: b.$laptop-screen) {
    .bio-pic {
        height: 50vh;
        display: block;
    }

    .bio-text {
        width: 30%;

        h1 {
            font-size: 2rem;
            font-weight: 600;
        }
    }
}