@use '../shared/colors' as c;
@use '../shared/breakpoints' as b;

.about {
    background-color: c.$accent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5vw;
    padding: 0 3vw;
    min-height: 91vh;
    margin-top: 9vh;

    h1, p, a {
        color: c.$background;
    }
}

.about-text-socials {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.about-text {
    width: 100%;

    h1 {
        font-weight: 500;
        font-size: 1.6rem;
    }

    p, a {
        font-size: 1.2rem;
    }
}

#about-socials {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    h3 {
        color: c.$background;
    }
}

#family-portrait {
    flex-shrink: 1;
    max-width: 60%;
    aspect-ratio: 1170 / 1638;
}

.social-icon {
    height: 5vh;
    aspect-ratio: 1/1;
}

@media screen and (min-width: b.$tablet-screen) {
    .about-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    #family-portrait {
        max-width: 40%;
        height: auto;
    }

    .about-text p, .about-text a {
        font-size: 1.3rem;
    }

    .about-text h1 {
        font-size: 1.6rem;
    }

    #about-footer {
        justify-content: center;
        gap: 4vw;
    }
}

@media screen and (min-width: b.$large-screen) {
    .about-text-socials {
        width: 50%;
    }

    #family-portrait {
        max-width: 30%;
        max-height: 70vh;
    }

    .about-text p, .about-text a {
        font-size: 1.5rem;
    }

    .about-text h1{
        font-size: 2rem;
    }
}