@use '../shared/colors' as c;

.about {
    background-color: c.$accent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 3vw;

    h1, p, a {
        color: c.$background;
    }
}

#family-portrait {
    flex-shrink: 1;
    max-width: 30%;
    aspect-ratio: 2452 / 3179;
}