@use '../shared/colors' as c;
@use '../shared/breakpoints' as b;

.contact {
    padding-top: calc(100vw / 9);
    position: relative;
}

.contact-header {
    font-size: 3rem;
    margin: 0 0 2vh 2vw;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2vw;
}

.headshot-and-socials {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 2rem;
    align-items: flex-start;
    width: 100%;

    .social-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        text-decoration: none;
        color: c.$text;
    }

    .social-icon {
        width: 2rem;
        aspect-ratio: 1 / 1;
    }

    .contact-portrait {
        align-self: center;
        width: 200px;
        aspect-ratio: 1/1;
        border-radius: 100px;
        border: .5rem solid c.$primary;
        flex-shrink: 1;
    }

    #dark-github-social:hover {
        p {
            color: c.$accent;
        }

        #github-icon-dark {
            display: none;
        }

        #github-icon-dark-accent {
            display: block;
        }
    }

    #light-github-social:hover {
        p {
            color: c.$primary;
        }

        #github-icon-light {
            display: none;
        }

        #github-icon-light-accent {
            display: block;
        }
    }

    #dark-linkedin-social:hover {
        p {
            color: c.$accent;
        }

        #linkedin-icon-dark {
            display: none;
        }

        #linkedin-icon-dark-accent {
            display: block;
        }
    }

    #light-linkedin-social:hover {
        p {
            color: c.$primary;
        }

        #linkedin-icon-light {
            display: none;
        }

        #linkedin-icon-light-accent {
            display: block;
        }
    }

    #dark-email-social:hover {
        p {
            color: c.$accent;
        }

        #email-icon-dark {
            display: none;
        }
    }

    #light-email-social:hover {
        p {
            color: c.$primary;
        }

        #email-icon-light {
            display: none;
        }
    }
}

.contact-content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;

    input, textarea {
        background-color: c.$background;
        color: c.$text;
        font-size: 1rem;
        border: 1px solid c.$accent;
        border-radius: .3rem;
        padding: .5rem;
        width: calc(100% - 1rem);
    }

    input::placeholder, textarea::placeholder {
        color: c.$accent;
    }

    #email-message {
        width: 6rem;
        height: 3rem;
        border-radius: .6rem;
        border: 1px solid c.$accent;
        color: c.$accent;
        background-color: c.$secondary;
        font-size: 1.2rem;
        cursor: pointer;
    }

    #email-message:hover {
        background-color: c.$background;
        transition: 0.5s;
    }
}

.popup {
    position: absolute;
    bottom: 0.5rem;
    right: -300px;
    background: c.$background;
    border: 1px solid c.$accent;
    border-radius: 5px;
    padding: 0.5rem;
    -webkit-animation: slide 0.2s forwards;
    animation: slide 0.2s forwards;
    z-index: 1;

    p {
        color: c.$accent;
        margin: 0;
        font-size: .9rem;
    }
}

@-webkit-keyframes slide {
    100% { right: 2vw; }
}

@keyframes slide {
    100% { right: 2vw; }
}

@media only screen and (min-width: b.$small-screen) {
    .headshot-and-socials {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .contact-portrait {
            width: 250px;
            border-radius: 125px;
        }
    }
}

@media only screen and (min-width: b.$tablet-screen) {
    .contact-content {
        flex-direction: row;
        align-items: center;

        .contact-portrait {
            width: 200px;
            border-radius: 100px;
        }

        form {
            width: 40vw;
            position: static;
        }

        .popup {
            bottom: 2rem;
            p {
                font-size: 1rem;
            }
        }
    }
}

@media only screen and (min-width: b.$laptop-screen) {
    .contact-header {
        font-size: 4rem;
    }

    .contact-content p, .contact-content form textarea, .contact-content form input {
        font-size: 1.4rem;
    }

    .contact-content form {
        width: 50vw;
    }

    .headshot-and-socials {
        justify-content: center;
    }
}

@media only screen and (min-width: b.$large-screen) {
    .contact-content form {
        width: 70vw;
    }

    .headshot-and-socials .contact-portrait {
        width: 300px;
        border-radius: 150px;
    }
}
