@use '../shared/colors' as c;
@use '../shared/breakpoints' as b;

.greeting {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 3vw;
}

.greeting-text {
    display: block;
    justify-content: center;
    min-height: 50vh;

    b {
        color: c.$accent;
    }
}

.greeting-text .big-name {
    color: c.$primary;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

.greeting-text .role-title {
    color: c.$text;
    font-size: 2.5rem;
}

#typewrite {
    color: c.$text;
    font-size: 2.5rem;
}

.greeting-text p, .greeting-text a {
    color: c.$text;
    font-size: 1.5rem;
}


.greeting .button-container {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

#programmer-image-light, #programmer-image-dark {
    flex-shrink: 1;
    width: 0;
    aspect-ratio: 1 / 1;
}

@media screen and (min-width: b.$small-screen) {
    .greeting-text {
        p {
            width: 70%;
        }
        .big-name {
            font-size: 5rem;
        }
    }
}

@media screen and (min-width: b.$tablet-screen) {
    #programmer-image-light, #programmer-image-dark {
        width: 35vw;
    }

    .greeting-text {
        max-width: 50vw;

        p {
            width: 100%;
        }
    }
}
