@use '../shared/colors' as c;

.greeting {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.greeting-text {
    display: block;
    justify-content: center;
    min-height: 50vh;
}

.greeting-text .big-name {
    color: c.$primary;
    font-size: 5rem;
    font-weight: bold;
}

.greeting-text .role-title {
    color: c.$text;
    font-size: 2.5rem;
}

#typewrite {
    color: c.$text;
    font-size: 2.5rem;
}

.greeting-text p {
    color: c.$text;
    font-size: 1.5rem;
}

.greeting .button-container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 3vw;
}

.greeting img {
    flex-shrink: 1;
    width: 70vh;
    height: 80vh;
}