@use '../shared/colors' as c;
@use '../shared/breakpoints' as b;

.navbar {
    width: 90%;
    height: 9vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 1;

    a {
        cursor: pointer;
        text-decoration: none;
        margin: 0;
    }

    p {
        cursor: pointer;
        text-decoration: none;
        margin: 0;
    }

    .navbar-name {
        font-weight: 500;
    }
}

.navbar .section-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;

    a {
        display: none;
    }

    a:hover {
        text-decoration: solid underline 1px;
        text-underline-offset: 2px;
    }
}

.dark-light-navbar {
    background-color: c.$background;
    a, p, .navbar-name {
        color: c.$dark;
    }
}

.accent-navbar {
    background-color: c.$accent;
    a, p, .navbar-name {
        color: c.$background;
    }
}

.primary-navbar {
    background-color: c.$primary;
    a, p, .navbar-name {
        color: c.$dark;
    }
}

.secondary-navbar {
    background-color: c.$secondary;
    a, p, .navbar-name {
        color: c.$dark;
    }
}

@media screen and (min-width: b.$tablet-screen) {
    .navbar .section-links a {
        display: block;
    }

    .navbar .navbar-name {
        font-size: 2rem;
    }
}
