@use '../shared/colors' as c;
@use '../shared/breakpoints' as b;

.navbar {
    width: 90%;
    height: 9vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 1;

    a {
        cursor: pointer;
        text-decoration: none;
        margin: 0;
        color: c.$dark;
    }

    p {
        cursor: pointer;
        text-decoration: none;
        margin: 0;
        color: c.$dark;
    }

    .navbar-name {
        font-weight: 500;
    }
}

.navbar #section-links {
    flex-direction: column;
    text-align: left;
    width: 100vw;
    background-color: c.$background;
    position: absolute;
    top: 0;
    right: 0;

    a {
        padding-top: 2vh;
        padding-bottom: 2vh;
        font-size: 2rem;
        padding-left: 1rem;
        border-bottom: 1px solid c.$dark;
    }

    a:hover {
        text-decoration: solid underline 1px;
        text-underline-offset: 2px;
    }

    #exit-icon {
        height: 4vh;
        aspect-ratio: 1/1;
        position: absolute;
    }

    #exit-icon {
        top: 2vh;
        right: 5vw;
        cursor: pointer;
    }

    #contact-button { 
        display: none;
    }
}

#greeting-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#menu-icon {
    height: 4vh;
    aspect-ratio: 1/1;
    cursor: pointer;
}

#my-icon {
    height: 3rem;
    aspect-ratio: 1/1;
}

@media screen and (min-width: b.$tablet-screen) {
    .navbar {
        height: 15vh;
    }

    .navbar #section-links {
        flex-direction: row;
        align-items: center;
        gap: 5vw;
        width: auto;
        position: relative;
        border: none;
        display: flex;

        a {
            font-size: 0.8rem;
            border-bottom: none;
        }

        a:first-of-type {
            margin: 0;
        }

        #exit-icon {
            display: none;
        }

        #contact-button {
            display: block;
        }

        #contact-link {
            display: none;
        }
    }

    .navbar .navbar-name {
        font-size: 2rem;
        display: block;
    }

    #my-icon {
        display: block;
        height:4rem;
    }

    #menu-icon, #exit-icon {
        display: none;
    }
}

@media screen and (min-width: b.$laptop-screen) {
    .navbar #section-links a {
        font-size: 1.25rem;
    }
}