@use '../shared/colors' as c;
@use '../shared/breakpoints' as b;

.project-title {
    margin: 0;
    margin-bottom: 2rem;
    color: c.$primary;
    text-align: center;
    font-size: 3rem;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.project button {
    padding: .3rem .6rem;
    border-radius: .75rem;
    background-color: c.$primary;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .4rem;
    cursor: pointer;
    
    img {
        width: 1rem;
        aspect-ratio: 1 / 1;
    }

    a {
        font-size: 1rem;
        text-decoration: none;
        color: c.$text;
    }
}

.project .dark-project-button a {
    color: c.$background;
}

.project-text {
    width: 50vw;

    a {
        color: c.$accent;
    }

    p { 
        margin-right: 3rem;
    }
}

.secondary-section .project-text {
    margin-left: 3rem;

    p {
        margin-right: 0;
    }
}

.project .button-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.project h1 {
    color: c.$primary;
}

.project p {
    color: c.$text;
}

#devfit-preview {
    width: 40vw;
    margin: 0 5vw;
    flex-shrink: 1;
}

#zelda-gameplay {
    margin: 0 5vw;
    flex-shrink: 1;
}

#enuts-preview {
    width: 40vw;
    margin: 0 5vw;
    flex-shrink: 1;
}

.project-icons {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 25px;

    figure {
        min-width: 45px;
        height: 70px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        img {
            position: absolute;
            align-self: center;
            top: 1.5rem;
            width: 45px;
            aspect-ratio: 1 / 1;
        }

        img:hover {
            width: 50px;
        }

        figcaption {
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
            visibility: hidden;
        }
    }

    figure:hover {
        figcaption {
            visibility: visible;
        }
    }
}

@media screen and (min-width: b.$small-screen) {
    .project p {
        font-size: 1.1rem;
    }

    .project button {
        padding: .5rem 1rem;
        
        a {
            font-size: 1.1rem;
        }
    }

    .project-icons figure {
        min-width: 60px;
        height: 90px;
        justify-content: flex-start;

        img {
            width: 60px;
        }

        img:hover {
            width: 65px;
        }
    }
}

@media screen and (min-width: b.$tablet-screen) {
    .project-icons {
        justify-content: flex-start;
    }

    .project-icons figure {
        min-width: 70px;
        height: 110px;
        justify-content: flex-start;

        img {
            width: 70px;
        }

        img:hover {
            width: 80px;
        }
    }
}

@media screen and (min-width: b.$laptop-screen) {
    .project p {
        font-size: 1.3rem;
    }

    .project button {
        padding: .5rem 1rem;

        img {
            width: 1.2rem;
        }
        
        a {
            font-size: 1.3rem;
        }
    }

    .project-icons figure {
        min-width: 80px;
        height: 120px;
        justify-content: flex-start;

        img {
            width: 80px;
        }

        img:hover {
            width: 90px;
        }
    }
}

@media screen and (min-width: b.$large-screen) {
    .project p {
        font-size: 1.4rem;
    }

    .project button {
        padding: .5rem 1rem;

        img {
            width: 1.3rem;
        }
        
        a {
            font-size: 1.4rem;
        }
    }

    .project-icons figure {
        min-width: 110px;
        height: 150px;
        justify-content: flex-start;

        img {
            width: 110px;
        }

        img:hover {
            width: 125px;
        }
    }
}

@media screen and (max-width: b.$tablet-screen) {
    .project {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .button-container {
            justify-content: center;
        }
    }

    .reverse-project {
        flex-direction: column-reverse;
    }

    .project-text {
        width: 80vw;
        text-align: center;
    }

    #devfit-preview {
        width: 90vw;
    }

    #zelda-gameplay {
        width: 90vw;
    }

    #enuts-preview {
        width: 90vw;
    }
}
