@use '../shared/colors' as c;
@use '../shared/breakpoints' as b;

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.project button {
    padding: .3rem .6rem;
    border-radius: .75rem;
    background-color: c.$primary;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .4rem;
    cursor: pointer;
    
    img {
        width: 1rem;
        height: 1rem;
    }

    a {
        font-size: 1rem;
        text-decoration: none;
        color: c.$text;
    }
}

.project .dark-project-button a {
    color: c.$background;
}

.project-text {
    width: 35vw;
}

.project .button-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.project h1 {
    color: c.$primary;
}

.project p {
    color: c.$text;
}

#devfit-preview {
    width: 40vw;
    flex-shrink: 1;
}

@media only screen and (max-width: 600px) {
    .project {
        flex-direction: column;
        justify-content: center;
    }

    .project-text {
        width: 80vw;
    }

    #devfit-preview {
        width: 90vw;
    }

    #zelda-gameplay {
        width: 90vw;
    }
}
