@use '../shared/colors' as c;
@use '../shared/breakpoints' as b;

.projects {
    background-color: c.$primary;
    padding-top: 10vh;
}

#software-header {
    margin-bottom: 5vh;
    text-align: center;
    font-size: 3rem;
    color: c.$accent;
}

.project-title {
    margin: 0;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 3rem;
}

.project-text {
    p, h1 {
        color: c.$dark;
    }
}

.reverse-project {
    flex-direction: column-reverse;
}

#zelda-gameplay {
    margin: 0;
    flex-shrink: 1;
}

#enuts-preview, #devfit-preview {
    width: 90vw;
    height: auto;
    margin: 0;
}

.project .button-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 4vh 0;
}

.project .dark-project-button a {
    color: c.$background;
}

.project button {
    font-size: 0.9rem;
}

.project button:hover {
    background-color: c.$dark-hover;
}

.project-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 25px;

    figure {
        min-width: 45px;
        height: 70px;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        position: relative;

        img {
            position: absolute;
            top: 0;
            align-self: center;
            width: 45px;
            aspect-ratio: 1 / 1;
        }

        img:hover {
            width: 50px;
        }

        figcaption {
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
            visibility: hidden;
        }
    }

    figure:hover {
        figcaption {
            visibility: visible;
        }
    }
}

@media only screen and (min-width: b.$small-screen) and (max-width: b.$tablet-screen) {
    .project-text p {
        width: 75vw;
        font-size: 1.2rem;
        text-align: center;
    }

    .project-title {
        text-align: center;
    }

    .project {
        align-items: center;
    }

    .project .button-container {
        justify-content: center;
    }

    .project-icons {
        justify-content: center;
    }

    .project-icons figure {
        min-width: 70px;
        height: 110px;

        img {
            width: 70px;
        }

        img:hover {
            width: 80px;
        }
    }
}

@media only screen and (min-width: b.$tablet-screen) {
    .project {
        flex-direction: column;
        align-items: center;
    }

    .project-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .project-text {
        width: 40vw;
    }

    .project-title {
        text-align: center;
    }

    #devfit-preview, #zelda-gameplay, #enuts-preview {
        width: 40vw;
    }

    .project-image {
        width: 40vw;
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: b.$large-screen) {
    .project-icons figure {
        min-width: 80px;
        height: 120px;

        img {
            width: 80px;
        }

        img:hover {
            width: 90px;
        }
    }

    .project p {
        font-size: 1.4rem;
    }

    .project button {
        img {
            width: 1.2rem;
        }

        a {
            font-size: 1.3rem;
        }
    }
}