@use '../shared/colors' as c;
@use '../shared/breakpoints' as b;

.writing {
    background-color: c.$secondary;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#writing-feature-text {
    width: 90vw;
    margin: 12vh 0 14vh 0;

    p {
        font-size: 1.3rem;
        text-align: center;
    }
}

#writing-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.writing-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#affinity-logo {
    width: 60%;
}

#osu-logo {
    width: 85%;
}

@media screen and (min-width: b.$tablet-screen) {
    #writing-feature-text {
        font-size: 1.5rem;
        line-height: 3.4rem;
        width: 60vw;
        margin: 12vh 0 14vh 0;
    }

    .writing-block {
        width: 50%;
    }
}

@media screen and (min-width: b.$laptop-screen) {
    .grid-image {
        filter: grayscale(100%);
        transition: 1s;
        cursor: pointer;
    }

    .grid-image:hover {
        filter: grayscale(0%);
        transition: 1s;
    }

    #writing-feature-text p {
        font-size: 1.4rem;
    }
}

@media screen and (min-width: b.$large-screen) {
    #writing-feature-text p {
        font-size: 1.46em;
    }
}