// dark theme

$background: var(--background);
$primary: var(--primary);
$offPrimary: var(--off-primary);
$secondary: var(--secondary);
$offSecondary: var(--off-secondary);
$accent: var(--accent);
$offAccent: var(--off-accent);
$text: var(--text);
$text-hover: var(--text-hover);