@use './colors' as c;

button {
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    border: none;
    padding: 1.2rem 2rem;
}

.small-button {
    font-size: 1rem;
}

.medium-button {
    font-size: 1.2rem;
}

.primary-button {
    background-color: c.$primary;
}

.secondary-button {
    background-color: c.$secondary;
}

.dark-button {
    background-color: c.$dark;
    color: c.$background;
}

.light-button {
    background-color: c.$background;
    outline: 2px solid c.$dark;
    color: c.$dark;
}

.accent-button {
    background-color: c.$background;
    color: c.$accent;
}


