@use './colors' as c;

.button {
    border-radius: .3rem;
    padding: .5rem 1rem;
    cursor: pointer;
    
    p {
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
    }
    
    a {
        text-decoration: none;
        color: c.$background;
        margin: 0;
    }
}

.small-button {
    padding: .3rem .6rem;
    border-radius: .75rem;

    p {
        font-size: 1.2rem;
    }
}

.primary-button {
    background-color: c.$primary;

    a {
        color: #020c17;
       
    }
}

.secondary-button {
    background-color: c.$secondary;

    a {
        color: c.$text;
    }
}

.accent-button {
    background-color: c.$accent;
}


