@use './colors' as c;
@use '../shared/breakpoints' as b;

button {
    font-weight: 400;
    cursor: pointer;
    border: none;
    padding: 0.6rem 1rem;
}

.small-button {
    font-size: 1rem;
}

.medium-button {
    font-size: 1.2rem;
}

.dark-button {
    background-color: c.$text;
    color: c.$background;
}

.dark-button:hover {
    background-color: c.$text-hover;
}

.light-button {
    background-color: c.$primary;
    outline: 2px solid c.$text;
    color: c.$text;
}

@media screen and (min-width: b.$tablet-screen) {
    button {
        padding: 1rem 1.6rem;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: b.$laptop-screen) {
    button {
        padding: 1rem 1rem;
        font-size: 1.2rem;
    }
}

