@use './sass/shared/colors' as c;
@use './sass/shared/elements';
@use './sass/shared/breakpoints' as b;
@use './sass/sections/navbar';
@use './sass/sections/about';
@use './sass/sections/projects';
@use './sass/sections/writing';
@use './sass/sections/contact';

body, html, :root {
  font-size: 16px;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  background-color: c.$background;

  p, h1, a {
    color: c.$text;
  }
}

:root {
  --background: white;
  --primary: #fde2e4;
  --off-primary: #FDB4C1;
  --secondary: #e2ece9;
  --off-secondary: #AEC6B3;
  --accent: #dfe7fd;
  --off-accent: #ADBBCF;
  --text: #143642;
  --text-hover: #1B2E36;
  --contact: #1B2E36;
}

[data-theme="dark"] {
  --background: #000e14;
  --primary: #1f2742;
  --off-primary: #575d72;
  --secondary: #2f1e1e;
  --off-secondary: #635757;
  --accent: #081c15;
  --off-accent: #465550;
  --text: #F1F2F2;
  --text-hover: white;
  --contact: #a98467;
}

#preloader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: c.$background;
  z-index: 9999;
}

#preloader.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

#greeting {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 12vh 0;
  padding: 0 3vw;
  position: relative;
  z-index: 1;
}

section {
  scroll-margin-top: 15vh;
}

.section-header {
  font-size: 2rem;
  color: c.$text;
  text-align: center;
  margin-top: 5vh;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.greeting-text {
  display: block;
  justify-content: center;
  width: 80vw;

  h1 {
    font-size: 3rem;
    font-weight: 500;
  }

  p {
    color: c.$text;
    font-size: 1.5rem;
    width: 60vw;
  }
}

#greeting-buttons {
  display: none;
}

#cover-portrait {
  flex-shrink: 1;
  margin-top: 12vh;
  height: 60vh;
  aspect-ratio: 3024 / 4032;
  display: none;
}

#mobile-pic {
  width: 80vw;
  aspect-ratio: 1/1;
  margin-top: 5vh;
}

#quote {
  text-align: center;
  display: none;
}

@media screen and (min-width: b.$small-screen) {
  .greeting-text {
      p {
          width: 70%;
      }
  }
}

@media screen and (min-width: b.$tablet-screen) {
  #greeting {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    gap: 10vw;
  }

  .accent-background-strip {
    width: 100%;
    height: 60vh;
    background-color: c.$primary;
    position: absolute;
    top: 15vh;
    left: 0;
    z-index: 0;
  }

  .greeting-text {
    width: auto;
    max-width: 50vw;
    margin-bottom: 10vh;
    p {
        width: 100%;
    }
  }

  #greeting-buttons {
    display: flex;
    flex-direction: column-reverse;
  }

  #cover-portrait {
      display: block;
  }

  #mobile-pic {
    display: none;
  }

  #quote {
    height: 33vh;
    width: 60%;
    margin-left: 20%;
    display: block;
    p {
      margin-top: 10vh;
      font-size: 2.5rem;
    }
  }
}

@media screen and (min-width: b.$laptop-screen) {
  #greeting-buttons {
    flex-direction: row;
  }
}