@use './sass/sections/greeting.scss';
@use './sass/sections/project.scss';
@use './sass/shared/colors' as c;
@use './sass/shared/elements';
@use './sass/sections/navbar';
@use './sass/sections/contact';
@use './sass/shared/breakpoints' as b;

body, html, :root {
  --background: #d5e6fb;
  --primary: #f3be7c;
  --secondary: #c3dafa;
  --accent: #4f2f07;
  --text: #020c17;
  --theme: "light-theme";

  font-size: 16px;
  margin: 0;
  scroll-behavior: smooth;
  color: c.$text;
  font-family: "Source Code Pro", monospace;

  input, textarea, button {
    color: c.$text;
    font-family: "Source Code Pro", monospace;
  }
}

@media only screen and (max-width: b.$small-screen) {
  body, html, :root {
    font-size: 12px;
  }
}

.light-theme {
  background-color: #d5e6fb;
  --theme: "light-theme";
  --background: #d5e6fb;
  --primary: #f3be7c;
  --secondary: #c3dafa;
  --accent: #4f2f07;
  --text: #020c17;
}

.dark-theme {
  background-color: #020c17;
  --theme: "dark-theme";
  --background: #020c17;
  --primary: #f3be7c;
  --secondary: #031022;
  --accent: #dc8213;
  --text: #d5e6fb;
}

$gap-height: calc(100vw / 9);

.section {
  height: calc(100vh - $gap-height);
}

.secondary-section {
  background-color: c.$secondary;
}

.section-gap {
  width: 100%;
  height: $gap-height;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.light-wave-1 {
  background-image: url('./assets/images/light-wave-1.svg');
}

.light-wave-2 {
  background-image: url('./assets/images/light-wave-2.svg');
}

.light-page-bottom {
  background-image: url('./assets/images/light-layered-waves.svg');
}

.dark-wave-2 {
  background-image: url('./assets/images/dark-wave-1.svg');
}

.dark-wave-1 {
  background-image: url('./assets/images/dark-wave-2.svg');
}

.dark-page-bottom {
  background-image: url('./assets/images/dark-layered-waves.svg');
}

.invisible {
  display: none;
}

// other schemes
// pink

// light

// --background: #eef7ed;
// --primary: #d5a6d8;
// --secondary: #cce8ca;
// --accent: #9a46a0;
// --text: #0a1509;

// dark

// --background: #0a1509;
// --primary: #d5a6d8;
// --secondary: #091208;
// --accent: #d5a7d8;
// --text: #eef7ed;

// red

//light

  // --background: #ffffff;
  // --primary: #8d1157;
  // --secondary: #f8c9cc;
  // --accent: #db1a27;
  // --text: #260529;

//dark

  // --background: #260529;
  // --primary: #8d1157;
  // --secondary: #240507;
  // --accent: #f39ba1;
  // --text: #ffffff;
